html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, cite, code, em, img,
small, strong, b, i, center,
dt, dd, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td,
canvas, figure, footer, header,
menu, nav, section,
time, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    vertical-align: baseline;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}
